= semantic_form_for @type do |f|
  = f.inputs do
    = f.input :category, :as => :hidden
    = f.input :name
    = f.input :slug, :hint => "Used in the URL"
  = f.actions do
    = f.action :submit, :label => "Submit"