= semantic_form_for [:admin, @news], :html => {:multipart => true} do |p|  
  = p.inputs do
    = p.input :title
    = p.input :description
    = p.input :content
    = p.input :sticky
    = p.input :image
  = p.actions
