- content_head do
  = link_to "Add News", new_admin_news_path, :class => "button"
  %h2 News

= content_box do
  %ul.table.news
    %li.header
      .title Title
      .sticky Sticky
      .created_at Created At
      .published_at Published At
    - @news.each do |n|
      %li{:class => cycle("alt_row","")}
        .image
          -if n.image.present?
            = image_tag n.image.url(:icon)
        .title= n.title
        .sticky= n.sticky
        .created_at= display_admin_date n.created_at
        .published_at= news_date_val(n.published_at) rescue nil
        .edit-link= link_to "Edit", edit_admin_news_path(n)
        .delete-link= link_to "Delete", admin_news_path(n), :confirm => "Are you sure?", :method => :delete
  = will_paginate @news
