= semantic_form_for @banner, :html => {:multipart => true} do |f|
  = f.inputs do
    = f.input :banner, :as => :file
    = f.input :url
    = f.input :alt_text
    = f.input :open_in_new_window, label: "Open in a new window"
  = f.actions
