= semantic_form_for @user do |f|
  = f.inputs do
    = f.input :username
    = f.input :name
    = f.input :user_type, :collection => user_type_options, :as => :select
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
    = f.input :video_products, :as => :check_boxes
    %li.input
      %ol.choices-group
        %li.choice
          %label
            = check_box_tag :select_all_video_products, nil, (f.object.video_products.count == VideoProduct.count)
            Select All
  = f.actions
