- content_for :breadcrumbs do
  = link_to "Home", root_path
  = breadcrumb_link_to "Fundings", funding_path
- content_for :meta_title do
  Academy Class - Fundings

- @fundings.each do |funding|
  .news-item
    = image_tag funding.image.url(:medium)
    .info
      %h2= funding.title
      .published Published on #{funding_date_val funding.published_at}
      .description= raw funding.description
      = link_to "Read More", funding_path(funding.id)
    .clearfix

= will_paginate @fundings