%h3 Received course details by email
%label Received
= @email.created_at.strftime("%d %B %Y %H:%M")
%h3 Contact Information
%ul
  %li
    %label Name:
    = @email.name
  %li
    %label Email: 
    = link_to @email.email, "mailto:#{@email.email}"
  %li
    %label Course:
    - if @email.course
      = @email.course.name
    - else
      = @email.subject
  - if @email.course
    %li= render :partial => "salesperson"
