=raw display_flash
.title Enter your name and email address
= semantic_form_for CourseDetailEnquiry.new do |f|
  = f.inputs do
    = f.input :name
    = f.input :email
    = f.input :course_id, :as => :hidden
    - if session[:url]
      = f.input :link, :input_html => { :value => session[:url] }
  = f.actions do
    = f.action :submit, :label => "Send Me An Email"