%h3 Course Enquiry
%label Received
= @email.created_at.strftime("%d %B %Y %H:%M")
%h3 Contact Information
%ul
  %li
    %label Name:
    = @email.name
  %li
    %label Email: 
    = link_to @email.email, "mailto:#{@email.email}"
  %li
    %label Phone:
    = @email.phone
%h3 Enquiry
%ul
  %li
    %label Course:
    - if @email.course
      = @email.course.name
    - else
      = @email.subject
  %li
    %label Location:
    = @email.location
  %li
    %label Date:
    = @email.date
  %li
    %label Enquiry:
    %em= @email.enquiry
  %li
    %label Interest in other courses:
    = @email.opt_in ? "Yes" : "No"
  %li= render :partial => "salesperson"