= semantic_form_for @group do |f|
  = f.hidden_field :lock_version
  = f.inputs do
    = f.input :label
    = f.input :url
    = f.input :menu_column, :as => :select, :collection => (1..MenuGroup.max_column_num+1)
  = f.actions
