- content_head do
  = link_to "New group", new_menu_group_path, :class => "button"
  %h2 Training menu
= content_box do

  %ul.table#menu-groups
    %li.header
      .label Label
      .url URL
      .column Column
      .items Items
      .edit-link
      .delete-link
    - @groups.each do |g|
      %li{:class => cycle('','alt_row')}
        .label= g.label
        .url= g.url
        .column= g.menu_column
        .items= g.menu_items.map {|i| i.label}.join(", ")
        .edit-link= link_to "Edit", edit_menu_group_path(g)
        .delete-link= link_to "Delete", g, :method => :delete, :confirm => "Are you sure?"
