- content_for :breadcrumbs do
  = link_to "Home", root_path
  = breadcrumb_link_to "News", news_index_path
  = breadcrumb_link_to @news.title, news_path(@news)
- content_for :meta_title do
  Academy Class - News - #{@news.title}

.news
  %h3= @news.title
  =image_tag @news.image.url(:medium)
  %p= raw @news.content
