- content_for :breadcrumbs do
  = link_to "Home", root_path
  = breadcrumb_link_to "Fundings", funding_path
  = breadcrumb_link_to @funding.title, funding_show_path(@funding)
- content_for :meta_title do
  Academy Class - Fundings - #{@funding.title}

.news
  %h2= @funding.title
  .published Published on #{funding_date_val @funding.published_at}
  .news-content= raw @funding.content
  .clearfix