= image_tag "creative_licence/become-a-web-specialist.png", :class => "image"
- %w(css html javascript).each do |d|
  = image_tag "creative_licence/programmer/#{d}.jpg", :alt => d, :class => 'switch-image', :id => "programmer-#{d}"
%h3 Become A Web Specialist
%p.description This package contains all the skills and modules to get you on your way to be a web programmer. The course is formulated to taking you from the very initial steps of web development to the final stages of the latest technologies of the internet. With the skills gained you'll be able to design the latest and most awe-inspiring websites that your clients will only be dreaming of.
= image_tag "creative_licence/programmer/html.jpg", :class => "creative-licence-image"
%h4 What you will learn
%ul.submenu
  %li#html.selected HTML
  %li#css CSS
  %li#javascript JavaScript
.subcontent#html-subcontent
  %p HTML is the foundation of the internet and with this markup language it will allow you to build the structure and the foundation of any site. Knowing and understanding how HTML works will give you the core skills needed by every web developer.Looking at the website on the right will show you the structure of HTML first.
  %h5 Headers
  %p Create and define header's and paragraphs in HTML to define the structure of the page for SEO and accessibility.
  %h5 Adding Images
  %p A major part of all sites is the images and photographs that complement the text. Here we show you how to code the images into your site.
.subcontent#css-subcontent
  %p Cascading Style Sheets is the visualisation language of the world wide web. It allows you to dress and create the pretty visuals for your site. By looking at the example on the right you can turn some of the CSS features on and off to see what effects you can apply.
  %h5 Colour & Gradients
  %p Adding colour to your site is now a must and now with CSS3 you can even add Gradients that will make your site stand out.
  %h5 Rounded Corners
  %p Why have all your boxes on your site with sharp corners. Now with CSS3 you can easily add rounded corners to your boxes.
.subcontent#javascript-subcontent
  %p JavaScript is the behaviours of the site. If you are looking to add any kind of interactivity to the website then using JavaScript will give you these effects. You can alsocreate dynamic animations and movements with JS. If you look on the example to the right and this will allow you to turn these features on and off.
  %h5 Transitions
  %p Image transitions can easily be created with jQuery to give you a dynamic feel to your site.
  %h5 Drag & Drop
  %p Again using jQuery you can add a drag & drop feature to yoursite allowing your users to interact with your content with great ease.
.save-big
  = image_tag "creative_licence/buy-big-save-big.png"
  .separate-price
    .title SEPARATE PRICE
    .price &pound;4776
    .vat ex VAT
  .licence-price
    .title CREATIVE LICENCE PRICE
    .price &pound;2997
    .vat ex VAT
  .saving
    .title SAVING
    .price &pound;1779
    .vat ex VAT