= image_tag "creative_licence/become-a-video-specialist.png", :class => "image"
- %w(colour editing effects).each do |d|
  = image_tag "creative_licence/video/#{d}.jpg", :alt => d, :class => 'switch-image', :id => "video-#{d}"
%h3 Become A Video Specialist
%p.description Once you become a Video Specialist, you will be able to bring different audio-visual elements from various sources, make them look outstanding with colour correction tools and combine them with computer generated effects. This course is structured in a way that will teach you how to perform these tasks in the right order.
%h4 What you will learn
%ul.submenu
  %li#editing.selected Editing Video &amp; Audio
  %li#colour Colour Correction
  %li#effects Visual Effects
.subcontent#editing-subcontent
  #video-1
  %p The first stage of achieving a successful video is to bring the raw materials together and create a polished edit. Products you will lean during this course will let you do just that. 
.subcontent#colour-subcontent
  #video-2
  %p Using the tools you learn in Creative License - Video Specialist, you can transform otherwise flat looking shots into a rich, vibrant and impressive visuals.
.subcontent#effects-subcontent
  #video-3
  %p Adobe After Effects lets you combine different elements and create visually stunning videos. On completion of this course, you will be able to bring your ideas to life.
.save-big
  = image_tag "creative_licence/buy-big-save-big.png"
  .separate-price
    .title SEPARATE PRICE
    .price &pound;2388
    .vat ex VAT
  .licence-price
    .title CREATIVE LICENCE PRICE
    .price &pound;1597
    .vat ex VAT
  .saving
    .title SAVING
    .price &pound;791
    .vat ex VAT