= image_tag "creative_licence/become-a-cad-visualizer.png", :class => "image"
- %w(art autocad101 autocad201 autocad301 max photoshop2).each do |d|
  = image_tag "creative_licence/visualizer/#{d}.jpg", :alt => d, :class => 'switch-image', :id => "visualizer-#{d}"
%h3 Become a CAD Visualizer
%p.description CAD Visualisers work with powerful software tools to create realistic computer generated photographs and videos of prototype designs visualised within their natural landscape. Everything is possible, you'll communicate new design concepts to clients, this could be a representation of a prototype sports cars roaring down the track to an accurate location shot of a proposed new building design in support of a planning application. We've tailored this course to give you the perfect starting blocks from which to start your career.
%h4 What you will learn
%ul.submenu
  %li#autocad101.selected AutoCAD Certified ACA Jumpstart
  %li#autocad201 AutoCAD 201
  %li#autocad301 AutoCAD 301
  %li#max 3ds Max
  %li#photoshop2 Photoshop
.subcontent#autocad101-subcontent
  = image_tag("creative_licence/visualizer/autocad101.jpg")
  %p From no CAD experience learn how you quickly create drawings, solve geometric problems, improve your working time by using templates and blocks.
  %p AutoCAD 101 Gives you the full experience from no Knowledge to full understanding of the basics of AutoCAD 2011 so after 5 days you will have an understanding how AutoCAD works, navigate throughout the interface, modify existing drawings, create templates, create and edit blocks, manage block and content libraries, annotate, present and print out your projects.
.subcontent#autocad201-subcontent
  = image_tag("creative_licence/visualizer/autocad201.jpg")
  %p Enhance your knowledge of AutoCAD 2011 by using it at its full potential. 
  %p In AutoCAD 201 you will learn how to create Dynamic blocks to reduce your production time, add attributes, extract info from it, work with XREFs, and more...
.subcontent#autocad301-subcontent
  = image_tag("creative_licence/visualizer/autocad301.jpg")
  %p Any project needs to be built, and 3D lets you see how is going to look like once is done.
  %p Save money, improve your presentation and get a better understanding how your projects works together with a 3D version of it. With AutoCAD 301 you will learn how to create from 2D plans you 3D model or get your 2D plans out of your 3D model, realistic views, walk through animations or just an sketch view...
.subcontent#max-subcontent
  = image_tag("creative_licence/visualizer/max.jpg")
  %p Why stop with just a 3d model and walk through animations.... 3DS MAX is the tool that will bring your project to life.
  %p From Photo realistic view of your designs to animate everything on it, with 3DS MAX you can do whatever you want to your projects, and show it in ways you thought where not possible to give your clients a full understanding of it. 
.subcontent#photoshop2-subcontent
  = image_tag("creative_licence/visualizer/photoshop2.jpg")
  %p Photoshop is one of the key tools you'll work with and the tool your design buddies consider home turf, learning this tool will help when working with graphic and technical designers.
  %p When creating Visualisations Photoshop is the tool of choice for preparing background images, materials, textures and fabric swatches for use in AutoCAD and 3ds Max visualisations.
  %p Photoshop has its own 3d engine which is often used to create rough and ready work to give the client an idea of their design, which is often essential when getting work off the ground and launched into projects.
  %p The majority of the time though you'll be using Photoshop to apply the finishing touches to your 3d visualisation before presenting them to clients with framing text and effects to polish off your designs.  
.save-big
  = image_tag "creative_licence/buy-big-save-big.png"
  .separate-price
    .title SEPARATE PRICE
    .price &pound;3882
    .vat ex VAT
  .licence-price
    .title CREATIVE LICENCE PRICE
    .price &pound;2597
    .vat ex VAT
  .saving
    .title SAVING
    .price &pound;1285
    .vat ex VAT