- content_for :breadcrumbs do
  = link_to "Home", root_path
  = breadcrumb_link_to "Creative Licence", new_creative_licence_path
- content_for :meta_keywords do
  Save, Discount, Package, Creative License, Flash, Flex, Print, Design, AutoCAD, 3D, Video, Production, Web
- content_for :meta_description do
  Academy Class have put together some very special package deals. Take your Creative License and change your career, your pay packet, your life forever.
- content_for :meta_title do
  Save with the Creative License | Buy BIG, Save BIG | Academy Class

.content
  %h1 Creative Licence

  .left
    .licence-box
      .header
        %span
          DESIGN CREATIVE LICENSE
          .silver (SILVER)
      .body
        .left
          %ul
            %li Photoshop 101 - 2days
            %li Photoshop 201 - 3 days
            %li Photoshop ACA Certification
            %li Indesign 101 - 2 days
            %li Indesign 201 - 3 days
            %li Indesign ACA Certification
            %li Illustrator 101 - 2 days
            %li Illustrator 201 - 3 days
            %li Illustrator ACA Certification
        .right
          = image_tag "creative_licence/new_licence/design.png"
        .clearfix
      .bottom
        .days
          15 DAYS
        .regular-price
          REGULAR PRICE - £3582 + VAT
        .blue-price
          PACKAGE PRICE - £1997 + VAT
          %br/
          SAVING - £1585 + VAT

  .right
    .licence-box
      .header
        %span
          DESIGNERS CREATIVE LICENSE
          .gold (GOLD)
      .body
        Everything that is in the SILVER package and also
        .left
          %ul
            %li Photoshop 301 - 3 days
            %li Indesign 301 - 3 days
            %li Illustrator 301 - 3 days
            %li Adobe Certified Expert Exam
            %li in Photoshop, Illustrator, Indesign
        .right
          = image_tag "creative_licence/new_licence/design.png"
        .clearfix
      .bottom
        .days
          24 DAYS
        .regular-price
          REGULAR PRICE - £5973 + VAT
        .blue-price
          PACKAGE PRICE - £2997 + VAT
          %br/
          SAVING - £2976 + VAT
  .clearfix

  .left
    .licence-box
      .header
        %span
          WEB DEVELOPER CREATIVE LICENSE
          .silver (SILVER)
      .body
        .left
          %ul
            %li HTML 101 - 3 days
            %li HTML 201 - 2 days
            %li CSS 101 - 3 days
            %li CSS 201 - 2 days
            %li Javascript 101 - 3 days
            %li Jquery 201 - 2 days
        .right
          = image_tag "creative_licence/new_licence/monitor.png"
        .clearfix
      .bottom
        .days
          15 DAYS
        .regular-price
          REGULAR PRICE - £3582 + VAT
        .blue-price
          PACKAGE PRICE - £1997 + VAT
          %br/
          SAVING - £1585 + VAT

  .right
    .licence-box
      .header
        %span
          WEB DEVELOPER CREATIVE LICENSE
          .gold (GOLD)
      .body
        Everything that is in the SILVER package and also
        .left
          %ul
            %li HTML 301- 2 days
            %li CSS 301 - 2 days
            %li Javascript 301 - 2 days
        .right
          = image_tag "creative_licence/new_licence/monitor.png"
        .clearfix
      .bottom
        .days
          24 DAYS
        .regular-price
          REGULAR PRICE - £5073 + VAT
        .blue-price
          PACKAGE PRICE - £2497 + VAT
          %br/
          SAVING - £2576 + VAT
  .clearfix

  .left
    .licence-box
      .header
        %span
          ADOBE WEB CREATIVE LICENSE
      .body{style: "padding-right: 15px;"}
        .left
          %ul
            %li Dreamweaver 101 - 3 days
            %li Edge 101 - 2 days
            %li Photoshop 101 - 2 days
        .right
          = image_tag "creative_licence/new_licence/dw_ps.png"
        .clearfix
      .bottom
        .days
          7 DAYS
        .regular-price
          REGULAR PRICE - £1691 + VAT
        .blue-price
          PACKAGE PRICE - £1197 + VAT
          %br/
          SAVING - £494 + VAT

  .right
    .licence-box
      .header
        %span
          WEB DESIGN CREATIVE LICENSE
      .body{style: "padding-right: 15px;"}
        .left
          %ul
            %li Build your Business Website - 3 days
            %li Photoshop 101 - 2 days
            %li Social Media Jumpstart - 5 days
        .right
          = image_tag "creative_licence/new_licence/dw_ps.png"
        .clearfix
      .bottom
        .days
          10 DAYS
        .regular-price
          REGULAR PRICE - £2191 + VAT
        .blue-price
          PACKAGE PRICE - £1497 + VAT
          %br/
          SAVING - £694 + VAT
  .clearfix

  .left
    .licence-box
      .header
        %span
          DIGITAL PUBLISHING CREATIVE LICENSE
      .body
        .left
          %ul
            %li Indesign 101 - 2 day
            %li Indesign 201 - 3 days
            %li Indesign ACA Certification
            %li DPS 101 - 2 days
            %li DPS 201 - 2 days
        .right
          = image_tag "creative_licence/new_licence/publish.png"
        .clearfix
      .bottom
        .days
          9 DAYS
        .regular-price
          REGULAR PRICE - £2188 + VAT
        .blue-price
          PACKAGE PRICE - £1497 + VAT
          %br/
          SAVING - £691 + VAT

  .right
    .licence-box
      .header
        %span
          MOBILE APP DEVELOPMENT
          %br/
          CREATIVE LICENSE
      .body{style: "padding-right: 15px;"}
        .left
          %ul
            %li ios for non developers - 5 days
            %li ios for developers - 5 days
        .right
          = image_tag "creative_licence/new_licence/mobile_apps.png"
        .clearfix
      .bottom
        .days
          10 DAYS
        .regular-price
          REGULAR PRICE - £1994 + VAT
        .blue-price
          PACKAGE PRICE - £1497 + VAT
          %br/
          SAVING - £497 + VAT
  .clearfix

  .left
    .licence-box
      .header
        %span
          PRODUCTION CREATIVE LICENSE
          .silver (SILVER)
      .body
        .left
          %ul
            %li After Effects 101 - 3 days
            %li After Effects 201 - 2 days
            %li Premiere Pro 101 - 3 days
            %li Premiere Pro 201 - 2 days
            %li Premiere Pro ACA Certification
        .right
          = image_tag "creative_licence/new_licence/ae_pr.png"
        .clearfix
      .bottom
        .days
          10 DAYS
        .regular-price
          REGULAR PRICE - £2388 + VAT
        .blue-price
          PACKAGE PRICE - £1497 + VAT
          %br/
          SAVING - £891 + VAT

  .right
    .licence-box
      .header
        %span
          PRODUCTION CREATIVE LICENSE
          .gold (GOLD)
      .body{style: "padding-right: 15px;"}
        .left
          Everything that is in the SILVER package and also
          %ul
            %li After Effects 301 - 3 days
            %li Cinema 4d 101 - 3 days
            %li Cinema 4d 201 - 2 days
        .right
          = image_tag "creative_licence/new_licence/ae_pr_4d.png"
        .clearfix
      .bottom
        .days
          21 DAYS
        .regular-price
          REGULAR PRICE - £4966 + VAT
        .blue-price
          PACKAGE PRICE - £2497 + VAT
          %br/
          SAVING - £2469 + VAT
  .clearfix

  .left
    .licence-box
      .header
        %span
          CAD VISUALISER CREATIVE LICENSE
          .silver (SILVER)
      .body
        .left
          %ul
            %li AutoCad 101 - 3 days
            %li AutoCad ACA Certification - 2 days
            %li AutoCad 201 - 2 days
            %li AutoCad 301 - 3 days
        .right
          = image_tag "creative_licence/new_licence/cad.png"
        .clearfix
      .bottom
        .days
          10 DAYS
        .regular-price
          REGULAR PRICE - £2388 + VAT
        .blue-price
          PACKAGE PRICE - £1497 + VAT
          %br/
          SAVING - £891 + VAT

  .right
    .licence-box
      .header
        %span
          CAD VISUALISER CREATIVE LICENSE
          .gold (GOLD)
      .body{style: "padding-right: 15px;"}
        .left
          Everything that is in the SILVER package and also
          %ul
            %li Revit Architecture 101 - 3 days
            %li Revit Architecture ACU Exam - 2 days
        .right
          = image_tag "creative_licence/new_licence/cad_ar.png"
        .clearfix
      .bottom
        .days
          15 DAYS
        .regular-price
          REGULAR PRICE - £3582 + VAT
        .blue-price
          PACKAGE PRICE - £1997 + VAT
          %br/
          SAVING - £1585 + VAT
  .clearfix

  .left
    .licence-box
      .header
        %span
          3D ANIMATOR CREATIVE LICENSE
          .silver (SILVER)
      .body
        .left
          %ul
            %li 3ds Max 101 - 5 days
            %li 3ds Max 201 - 5 days
            %li Maya 101 - 5 days
        .right
          = image_tag "creative_licence/new_licence/3d_animat_silver.png"
        .clearfix
      .bottom
        .days
          15 DAYS
        .regular-price
          REGULAR PRICE - £2991 + VAT
        .blue-price
          PACKAGE PRICE - £1997 + VAT
          %br/
          SAVING - £994 + VAT

  .right
    .licence-box
      .header
        %span
          3D ANIMATOR CREATIVE LICENSE
          .gold (GOLD)
      .body
        .left
          Everything that is in the SILVER package and also
          %ul
            %li Cinema 4d 101 - 3 days
            %li Cineme 4d 201 - 2 days
        .right
          = image_tag "creative_licence/new_licence/3d_animat_gold.png"
        .clearfix
      .bottom
        .days
          20 DAYS
        .regular-price
          REGULAR PRICE - £4185 + VAT
        .blue-price
          PACKAGE PRICE - £2497 + VAT
          %br/
          SAVING - £1688 + VAT
  .clearfix

  .left
    .licence-box
      .header
        %span
          E-LEARNING CREATIVE LICENSE
      .body{style: "padding-right: 15px;"}
        .left
          %ul
            %li Captivate 101 - 3 days
            %li Captivate 201 - 2 days
            %li Edge 101 - 2 days
            %li Photoshop 101 - 2 days
            %li Premiere Pro 101 - 3 days
        .right
          = image_tag "creative_licence/new_licence/elearning.png"
        .clearfix
      .bottom
        .days
          12 DAYS
        .regular-price
          REGULAR PRICE - £2885 + VAT
        .blue-price
          PACKAGE PRICE - £1597 + VAT
          %br/
          SAVING - £1288 + VAT

  .right
    .licence-box
      .header
        %span
          INTERACTIVE DESIGNER
          %br/
          CREATIVE LICENCE
      .body
        .left
          %ul
            %li HTML 101 - 3 days
            %li HTML 201 - 2 days
            %li CSS 101 - 3 days
            %li CSS 201 - 2 days
            %li Javascript 101 - 3 days
            %li Jquery 201 - 2 days
            %li Edge 101 -  2 days
        .right
          = image_tag "creative_licence/new_licence/monitor.png"
        .clearfix
      .bottom
        .days
          17 DAYS
        .regular-price
          REGULAR PRICE - £4079 + VAT
        .blue-price
          PACKAGE PRICE - £2297 + VAT
          %br/
          SAVING - £1782 + VAT
  .clearfix
