- if course_locations_and_dates[course.id]
  %p Choose the date you would like to book:
  - @month_array = []
  - Location.all.each do |location|
    - next_six_months.each do |month|
      - if course_dates?(course.id, location.id, month)
        - course_locations_and_dates[course.id][location.id][month].each do |date|
          - if date != ''
            - @month_array.push(month)

  .calendar-wrapper
    %ul.calendar
      %li.header
        %span.city_name
        %ul.months
          - 6.times do |i|
            - d = Date.today.>>(i).strftime("%b")
            - if @month_array.include?(d)
              %li.month{:class => d}
                %span= d
      - Location.all.each do |location|
        %li{:class => cycle("city odd", "city even")}
          %span.city_name= location.name
          %ul.months
            - next_six_months.each do |month|
              - if @month_array.include?(month)
                %li.month{class: month}
                  %ul.dates
                    - if course_dates?(course.id, location.id, month)
                      - course_locations_and_dates[course.id][location.id][month].each do |date|
                        %li.date= link_to date , "#"
                    - else
                      %li.empty-date
    - if @month_array.length > 4        
      = link_to "◀", "#", :class => "calendar-left" 
      = link_to "▶", "#", :class => "calendar-right"
  %p
    If no dates appear then please call 
    %span.calltracks_academyclass-main 0800 043 8889
    for more date information
- else
  There are no open public schedule dates for this course. We can offer you a private training, live online training or we go to your location
  %ul.no-dates-options
    %li.underline
      = image_tag "course_outline_box/private-training.png", :alt => "Private Training"
      %h2 Private Training
      %p We can organise training for you. We can do it for only one person or a group. Give us a call an we can make arrangements for your course.
      .phone
        Call:
        %span.calltracks_academyclass-main 0800 043 8889
    %li.underline
      = image_tag "course_outline_box/live-online-training.png", :alt => "Live Online Training"
      %h2 Live Online Training
      %p With our online toolbox let your global team learn together. Give us a call and we can make arrangements for your course.
      .phone
        Call:
        %span.calltracks_academyclass-main 0800 043 8889
    %li
      = image_tag "course_outline_box/academy-in-a-case.png", :alt => "Academy in a Case"
      %h2 Academy in a Case
      %p If you can't come to us we can come to you. Give us a call and we can make arrangements for your course.
      .phone 
        Call:
        %span.calltracks_academyclass-main 0800 043 8889

