= semantic_form_for @product, :html => {:multipart => true} do |p|  
  = p.inputs do
    = p.input :name
    = p.input :product_parent
    = p.input :summary, :hint => "Displayed on the manufacturer page", :input_html => {:rows => 4}
    = p.input :description, :hint => "Displayed on the product page", :input_html => {:rows => 10}
    = p.input :meta_title, :hint => "Page title showed in the top of the browser window - important for SEO"
    = p.input :meta_description, :hint => "Page description shown in Google search results", :input_html => {:class => 'basic-input'}
    - if @product.product_logo.file?
      %li= render :partial => "image"
    = p.input :product_logo, :hint => "A flash file or a square image which will be resized to 110x110", :label => "Logo"
  = p.actions
