- course_name = URI::parse(request.original_url).path.split('/')[4].to_s
- course = search_course_from_url(course_name)
- if course.is_a? Integer
  - course = Course.for_product_page(@product.id).where(id: course).first
- else
  - course = "..."

- content_for :breadcrumbs do
  = link_to "Home", root_path
  = breadcrumb_link_to "Training", training_path
  = breadcrumb_link_to @product.product_parent.name, @product.product_parent.url
  = breadcrumb_link_to "#{@product.name} Training Courses", @product.url
  = " » " + course.name.to_s

- content_for :meta_keywords do
  = "Course, Training, Details, #{@parent}, #{@name}, Price, Date, Location"

- content_for :meta_description do
  = @product.meta_description

- content_for :meta_title do
  = @product.meta_title

= render "products/details"
