= semantic_form_for @testimonial, :html => {:multipart => true} do |f|  
  = f.inputs do
    = f.input :name
    = f.input :company
    = f.input :quote
    = f.input :photo
    = f.input :case_study
    = f.input :video
  = f.actions