!!! 5
%html{html_attrs}
  
  %head
    %link{:rel=>"icon", :href=>"/images/favicon.ico", :type=>"image/x-icon"}
    %title= yield(:meta_title)
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %meta{:name => "description", :content => yield(:meta_description) || ""}
    %meta{:name => "keywords", :content => yield(:meta_keywords) || ""}
    %meta{:name => "copyright", :content => "Copyright Academy Class Ltd - 2012"}
    = render partial: "shared/smart_code"
    = javascript_include_tag 'application', 'http://widgets.twimg.com/j/2/widget.js'
    = stylesheet_link_tag 'application'
    = csrf_meta_tag
    = yield(:head)
    = render :partial => "shared/google_analytics"
    
  %body{:id => body_tag_id}
    .white
      - @url_array = request.original_url.to_s.split('?')
      - if @url_array.length == 2
        - session[:url] = request.original_url.to_s  
    #mainbody
      = render :partial => "shared/menu"
      = render 'shared/banners'
      .float-social-box
        = image_tag 'background-number.png', class: 'phone-background'
        = link_to(image_tag('envelope.png'), "#newsletter-form", id: "popup-newsletter")
        = link_to(image_tag('twitter.png'), 'http://twitter.com/academyclass', target: '_blank', id: 'twitter')
        = link_to(image_tag('facebook.png'), 'http://www.facebook.com/AcademyClass', target: '_blank', id: 'facebook')
        %span{class: 'calltracks_academyclass-main'}
          0800 043 8889
      #main-content
        = yield
        - unless @page == "home" || @page == "product"
          = render '/shared/partner_logos'
        #footerSitemap
          %ul
            - footer_products.each do |link|
              %li
                = link_to link.product.url do
                  = link.product.name
                  %span.grey Training Courses
      #cross-sell-column
        - SidebarItem.all.each do |si|
          = raw si.content
      #footer
        %p
          All information is copyright&copy; to Academy Class 2006 - 2012.
          %br
          %a{:href => "/terms_and_conditions"} Website Terms
          %a{:href => "/privacy_policy"} Privacy Policy
          %a{:href => "/terms_of_business"} Terms of Business
    #newsletter-form{:style => "display:none"}= render :partial => "email_logs/newsletter_subscription"
    = render :partial => "shared/crazy_egg"
    = yield :javascripts
    = javascript_include_tag 'sessioncam'
    = javascript_include_tag '//d2.calltracks.com/calltracks_web_number_dynamics/loader.js'
    / Google Code for Remarketing Tag
    /
      \------------------------------------------------
      Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
      \-------------------------------------------------
    :javascript
      /* <![CDATA[ /
      var google_conversion_id = 1065162354;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      / ]]> */
    %script{:src => "//www.googleadservices.com/pagead/conversion.js", :type => "text/javascript"}
      :cdata
    %noscript
      %div{:style => "display:inline;"}
        %img{:alt => "", :height => "1", :src => "//googleads.g.doubleclick.net/pagead/viewthroughconversion/1065162354/?value=0&guid=ON&script=0", :style => "border-style:none;", :width => "1"}/
